/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    height: 100vh;
    width: 100%;
    background-image: url("images/hero-bg.jpg");
    background-position: center;
    background-size: cover;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(17px);
    --webkit-backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    transition: width 0.3s ease;
}
.sidebar:hover {
    width: 260px;
}
.sidebar .logo {
    color: #000;
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
}
.logo img {
    width: 43px;
    border-radius: 50%;
}
.logo h2 {
    font-size: 1.15rem;
    font-weight: 600;
    margin-left: 15px;
    display: none;
}
.sidebar:hover .logo h2 {
    display: block;
}
.sidebar .links {
    list-style: none;
    margin-top: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 140px);
}
.sidebar .links::-webkit-scrollbar {
    display: none;
}
.links li {
    display: flex;
    border-radius: 4px;
    align-items: center;
}
.links li:hover {
    cursor: pointer;
    background: #fff;
}
.links h4 {
    color: #222;
    font-weight: 500;
    display: none;
    margin-bottom: 10px;
}
.sidebar:hover .links h4 {
    display: block;
}
.links hr {
    margin: 10px 8px;
    border: 1px solid #4c4c4c;
}
.sidebar:hover .links hr {
    border-color: transparent;
}
.links li span {
    padding: 12px 10px;
}
.links li a {
    padding: 10px;
    color: #000;
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}
.sidebar:hover .links li a {
    display: block;
}
.links .logout-link {
    margin-top: 20px;
}
.center-name {
  position: fixed;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 100%;
  text-align: center;
}

.center-name h1 {
  font-size: 4rem;
  font-weight: 900; /* Ultra-bold */
  color: #000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #1BB295, 0 0 20px #1BB295;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1BB295, 0 0 40px #1BB295;
  }
}